<form class="{{cssClass}} flexcol" data-tooltip-class="pf1" autocomplete="off">

  {{!-- Haunt Sheet Header --}}
  <header class="sheet-header flexrow">
    <img class="profile" src="{{actor.img}}" data-edit="img">

    <div class="header-details flexcol">
        <h1 class="charname">
          <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "PF1.CharacterName"}}">
        </h1>
        <ul class="summary options">
          {{!-- Alignment --}}
          <li data-tooltip="{{localize "PF1.Alignment"}}">
            <div class="controls alignment flexrow" data-tooltip="PF1.Alignment">
              {{#if labels.alignment}}<span>{{labels.alignment}}</span>{{else}}<span class="placeholder">{{localize "PF1.Alignment"}}</span>{{/if}}
              <a class="control alignment"><i class="fa-solid fa-cog" inert></i></a>
            </div>
          </li>
          {{!-- Aura --}}
          <li class="aura" data-tooltip="{{localize "PF1.Aura.Single"}}">
            <label>{{localize "PF1.Aura.Single"}}</label>
            <div class="aura-fields">
              {{#if labels.auraStrength}}
              <label class="aura-strength">{{labels.auraStrength}}</label>
              {{/if}}
              {{#if system.details.aura.custom}}
              <input type="text" name="system.details.aura.school" value="{{system.details.aura.school}}">
              {{else}}
              <select name="system.details.aura.school">
                {{selectOptions config.spellSchools selected=system.details.aura.school blank=(localize "PF1.None")}}
              </select>
              {{/if}}
              <label class="checkbox">
                <input type="checkbox" name="system.details.aura.custom" {{checked system.details.aura.custom}}> {{localize "PF1.Custom"}}
              </label>
            </div>
          </li>
          {{!-- Caster Level --}}
          <li data-tooltip-extended="cl">
            <label>{{localize "PF1.CasterLevel"}}</label>
            <span class="value text-box direct wheel-change" name="system.details.cl" data-dtype="Number">
              {{system.details.cl}}
            </span>
          </li>
        </ul>
    </div>
  </header>

  {{!-- NPC Sheet Navigation --}}
  <nav class="sheet-navigation tabs" data-group="primary">
    <a class="item" data-tab="summary">{{localize "PF1.Summary"}}</a>
    <a class="item" data-tab="notes">{{ localize "PF1.Notes" }}</a>
  </nav>

  <section class="primary-body">
    <div class="tab summary" data-group="primary" data-tab="summary">
      {{!-- HD/XP reward --}}
      <div class="hd-level flexcol" data-tooltip-extended="level">
        <div class="inputs">
          {{!-- Level --}}
          <div class="info-box-joined level">
            <div class="info-box challenge-rating">
              <h5>{{localize "PF1.ChallengeRatingShort"}}</h5>
              <span name="system.details.cr.base" data-dtype="Number" readonly class="value text-box cr-input">{{labels.cr}}</span>
            </div>
          </div>

          {{!-- Experience --}}
          {{#unless disableExperience}}
          <div class="info-box experience">
            <h5>{{localize "PF1.Experience"}}</h5>
            <div class="value flexrow">
              <span class="reward">{{system.details.xp.value}}</span>
            </div>
          </div>
          {{/unless}}

          {{!-- Initiative --}}
          <div class="info-box attribute initiative" data-tooltip-extended="init">
            <h5><a class="rollable">{{localize "PF1.Initiative"}}</a></h5>
            <span class="value">
              <span class="text-box direct allow-relative" name="system.attributes.init.value" data-dtype="Number">
                {{system.attributes.init.total}}
              </span>
            </span>
          </div>
        </div>
      </div>

      <div class="details">
        {{!-- Health --}}
        <div class="info-box-joined info-box-header health" data-tooltip-extended="health">
          <h3>{{localize "PF1.HitPoints"}}</h3>
          <div class="info-box current">
            <h5>{{localize "PF1.Current"}}</h5>
            <span class="value text-box direct wheel-change allow-relative hp-current-input" name="system.attributes.hp.value" data-dtype="Number">
              {{system.attributes.hp.value}}
            </span>
          </div>
          <div class="info-box maximum">
            <h5>{{localize "PF1.Maximum"}}</h5>
            <span class="value text-box direct wheel-change allow-relative hp-max-input" name="system.attributes.hp.base" data-dtype="Number">
              {{system.attributes.hp.max}}
            </span>
          </div>
        </div>

        {{!-- Area --}}
        <div class="info-box-joined info-box-header area">
          <h3>{{localize "PF1.Area"}}</h3>

          {{!-- Area Size --}}
          <div class="info-box size">
            <h5>{{localize "PF1.Size"}} <span class="units">({{units}})</span></h5>
            <span class="value text-box direct wheel-change speed" name="system.details.area.size" data-dtype="Number" placeholder="{{localize "PF1.NonApplicable"}}">
              {{convertDistance system.details.area.size}}
            </span>
          </div>

          {{!-- Area Type --}}
          <div class="info-box">
            <h5>{{localize "PF1.Haunt.Shape"}}</h5>
            <span class="value">
              <select name="system.details.area.type" class="area-type">
                {{selectOptions measureTemplateTypes selected=system.details.area.type blank=""}}
              </select>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group templates">
        <label>{{localize "PF1.TemplatePlural"}}</label>
        <ul class="traits-list tag-list">
        {{#each system.templates.selected}}
          <li class="tag {{@key}}">{{{link}}}</li>
        {{/each}}
        </ul>
        <a class="trait-selector" data-for="system.templates" data-options="hauntTemplateLabels"><i class="fa-solid fa-edit" inert></i></a>
      </div>

      <div class="notice info-box-header">
        <h3>{{localize "PF1.Haunt.Notice"}}</h3>

        <div class="flexrow full-width">
          <div class="info-box notice-value">
            <h5>{{localize "PF1.Skills"}}</h5>
            <span class="value">
              {{formInput fields.details.fields.notice.fields.value value=system.details.notice.value}}
            </span>
          </div>
          <div class="info-box notice-dc">
            <h5>{{localize "PF1.DC"}}</h5>
            <span class="value text-box direct wheel-change">
              {{formInput fields.details.fields.notice.fields.dc value=system.details.notice.dc}}
            </span>
          </div>
        </div>
        <div class="flexrow full-width">
          <div class="info-box notice-description">
            <h5>{{localize "PF1.Description"}}</h5>
            <span class="value">
              {{formInput fields.details.fields.notice.fields.desc value=system.details.notice.desc}}
            </span>
          </div>
        </div>
      </div>

      {{!-- Details --}}
      <div class="details">
        <div class="extra-details info-box-header">
          <h3>{{localize "PF1.Details"}}</h3>
          <div class="flexrow full-width">
            <div class="info-box weakness">
              <h5>{{localize "PF1.Haunt.Weakness"}}</h5>
              <span class="value">
                {{formInput fields.details.fields.weakness value=system.details.weakness}}
              </span>
            </div>
          </div>
          <div class="flexrow full-width">
            <div class="info-box trigger">
              <h5>{{localize "PF1.Trigger"}}</h5>
              <span class="value">
                {{formInput fields.details.fields.trigger value=system.details.trigger}}
              </span>
            </div>
            <div class="info-box reset">
              <h5>{{localize "PF1.Reset"}}</h5>
              <div class="flexrow">
                <input class="{{#if (eq system.details.reset.units "spec")}}text-input{{else}}formula{{/if}}" type="text" name="system.details.reset.value" value="{{system.details.reset.value}}" placeholder="{{localize "PF1.Formula"}}">
                <select name="system.details.reset.units">
                  {{selectOptions @root.config.timePeriods selected=system.details.reset.units blank=""}}
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{!-- Effect --}}
      <div class="effect info-box-header">
        <h3>{{localize "PF1.Effect"}}</h3>
        {{formInput fields.details.fields.effect enriched=effectHTML value=system.details.effect toggled=_editorState.system.details.effect disabled=(not editable)}}
      </div>
      {{!-- Actions --}}
      <div class="combat-attacks">
        <section class="attacks-body">
          <ol class="item-groups-list">
          {{#each attacks as |section sid|}}
          {{#unless section._hidden}}
            <ol class="item-list" data-list="{{id}}" data-type="{{create.type}}" data-subtype="{{create.system.subType}}">
              <li class="item-list-header flexrow attacks-{{id}}">
                <div class="item-name">
                  <h3>{{section.label}}</h3>
                </div>

                {{#if section.showTypes}}<div class="item-detail item-type"><i class="icon-pf icon-magic-palm" data-tooltip="PF1.Type"></i></div>{{/if}}

                <div class="item-detail item-attacks">
                  <label>{{localize "PF1.Attacks"}}</label>
                </div>

                <div class="item-detail item-damage">
                    <label>{{localize "PF1.Damage"}}</label>
                </div>

                <div class="item-detail item-range">
                    <label>{{localize "PF1.Range"}}</label>
                </div>

                <div class="item-detail item-actions"><i class="icon-pf icon-gears" data-tooltip="PF1.ActionPlural"></i></div>

                <div class="item-detail item-uses"><i class="icon-pf icon-battery-pack" data-tooltip="PF1.ChargePlural"></i></div>

                {{#if @root.owner}}
                <div class="item-controls">
                  {{#if interface.create}}
                  <a class="item-control item-create" data-tooltip="PF1.CreateItem" data-create="{{path}}">
                    <i class="fa-solid fa-plus" inert></i>
                  </a>
                  {{/if}}
                </div>
                {{/if}}
              </li>

              {{#each section.items as |item iid|}}
              <li class="item flexrow{{#if isBroken}} broken{{/if}}" data-item-id="{{item.id}}">
                <div class="item-name rollable">
                  <div class="item-image" style='background-image: url("{{item.img}}")' data-tooltip="PF1.DisplayInChat"></div>
                  <h4>{{item.name~}}</h4>
                </div>

                {{#if section.showTypes}}
                <div class="item-detail item-type">
                  <span>{{lookup @root.config.attackTypes item.subType}}</span>
                </div>
                {{/if}}

                <div class="item-detail item-attacks" data-tooltip-extended="item.{{item.id}}.attacks">
                  {{#if item.hasAttack}}
                  <label>{{attackSummary}}</label>
                  {{/if}}
                </div>

                <div class="item-detail item-damage tooltip" data-tooltip-extended="item.{{item.id}}.damage">
                  {{#if item.hasDamage}}
                    <label class="resolved-formula">{{actionDamage item.document.defaultAction}}</label>
                  {{/if}}
                </div>

                <div class="item-detail item-range" data-tooltip-extended="item.{{item.id}}.range">
                  {{#if item.hasRange}}
                  <label>{{actionRange item.document.defaultAction @root.rollData}}</label>
                  {{/if}}
                </div>

                <div class="item-detail item-actions">
                  <div class="item-action">
                    {{#if item.hasAction}}
                    <a class="item-control item-action action roll" data-tooltip="PF1.PerformAttack">
                      <i class="fa-solid fa-dice-d20" inert></i>
                    </a>
                    {{/if}}
                  </div>
                </div>

                <div class="item-detail item-uses flexrow" data-tooltip-extended="item.{{item.id}}.resources">
                  {{#if item.isCharged}}
                  <span class="text-box value allow-relative" data-wheel-step="1" data-dtype="Number">{{item.charges}}</span>
                  <span class="sep"> / </span>
                  <span class="max">{{item.maxCharges}}</span>
                  {{else if item.usesAmmo}}
                  <span class="ammo-remaining">{{item.ammoRemaining}}</span>
                  {{/if}}
                </div>

                {{#if @root.owner}}
                <div class="item-controls">
                  <a class="item-control item-edit" data-tooltip="PF1.EditItem"><i class="fa-solid fa-edit" inert></i></a>
                  {{#if ../interface.create}}
                  <a class="item-control item-duplicate" data-tooltip="PF1.DuplicateItem"><i class="fa-solid fa-copy" inert></i></a>
                  <a class="item-control item-delete" data-tooltip="PF1.DeleteItem"><i class="fa-solid fa-trash" inert></i></a>
                  {{/if}}
                </div>
                {{/if}}
              </li>
              {{/each}}
            </ol>
          {{/unless}}
          {{/each}}
          </ol>
        </section>
      </div>

      {{!-- Destruction --}}
      <div class="destruction info-box-header">
        <h3>{{localize "PF1.Haunt.Destruction"}}</h3>
        {{formInput fields.details.fields.destruction enriched=destructionHTML value=system.details.destruction toggled=_editorState.system.details.destruction disabled=(not editable)}}
      </div>
    </div>

    {{!-- Notes Tab --}}
    <div class="tab actor-notes flexcol" data-group="primary" data-tab="notes">
      {{formInput fields.details.fields.notes enriched=notesHTML value=system.details.notes toggled=_editorState.system.details.notes disabled=(not editable)}}
    </div>
  </section>
</form>
