.theme-light {
  --pf1-v2-primary-h: 9;
  --pf1-v2-primary-s: 100%;
  --pf1-v2-primary-l: 12%;

  --pf1-v2-secondary-h: 28;
  --pf1-v2-secondary-s: 81%;
  --pf1-v2-secondary-l: 22%;

  --pf1-v2-tertirary-h: 24;
  --pf1-v2-tertirary-s: 41%;
  --pf1-v2-tertirary-l: 41%;

  --pf1-v2-color-primary: hsl(var(--pf1-v2-primary-h), var(--pf1-v2-primary-s), var(--pf1-v2-primary-l));
  --pf1-v2-color-secondary: hsl(var(--pf1-v2-secondary-h), var(--pf1-v2-secondary-s), var(--pf1-v2-secondary-l));
  --pf1-v2-color-tertirary: hsl(var(--pf1-v2-tertirary-h), var(--pf1-v2-tertirary-s), var(--pf1-v2-tertirary-l));

  /** Border **/
  --pf1-v2-border-input: rgba(0, 0, 0, 0.25);
  --pf1-v2-border-muted: var(--pf1-v2-border-input);

  --pf1-v2-border-error: rgba(105, 0, 8, 0.8);

  /** Text **/
  --pf1-v2-text-link: var(--pf1-v2-color-primary);

  --pf1-v2-text: #000000;
  --pf1-v2-text-muted: #3b3b3b;
  --pf1-v2-text-light: #f3efde;
  --pf1-v2-text-dark: var(--pf1-v2-text);
  --pf1-v2-text-inverted: var(--pf1-v2-text-light);

  --pf1-v2-text-success: #26b231;
  --pf1-v2-text-warning: #ee9b3a;
  --pf1-v2-text-highlight: var(--pf1-v2-text-tertiary);

  /** Shadow **/
  --pf1-v2-shadow-primary: hsl(var(--pf1-v2-primary-h), var(--pf1-v2-primary-s), calc(var(--pf1-v2-primary-l) + 25%));

  /** Form **/
  --pf1-v2-checkbox-color: var(--pf1-v2-text-light);
  --pf1-v2-checkbox-background: var(--pf1-v2-background-primary);
  --pf1-v2-slider-color: var(--pf1-v2-border-input);

  /** Background **/
  --pf1-v2-background-input: rgba(0, 0, 0, 0.1);
  --pf1-v2-background-fade-10: rgba(0, 0, 0, 0.1);
  --pf1-v2-background-fade-15: rgba(0, 0, 0, 0.15);
  --pf1-v2-background-fade-20: rgba(0, 0, 0, 0.2);
  --pf1-v2-background-fade-negative-10: rgba(255, 255, 255, 0.1);

  /** App **/
  --pf1-v2-background-app: #f8f5f0;
  --pf1-v2-background-app-header: var(--pf1-v2-background-primary);

  --pf1-v2-text-app-header: var(--pf1-v2-text-light);

  --pf1-v2-border-app: var(--pf1-v2-color-primary);
  --pf1-v2-border-app-header: var(--pf1-v2-border-primary);

  --pf1-default-button-outline: 1px solid brown;

  .application.pf1-v2 {
    background-blend-mode: multiply;

    // Style fake buttons the same as they are for Foundry
    .button {
      --button-background-color: rgba(0 0 0 / 10%);
      --button-border-color: var(--color-dark-5);
      --button-text-color: var(--color-dark-1);
      --button-focus-outline-color: var(--color-warm-2);
      --button-hover-background-color: var(--color-warm-2);
      --button-hover-text-color: var(--color-light-1);
    }
  }
}
