/* ----------------------------------------- */
/*  Chat Cards
/* ----------------------------------------- */

.pf1.chat-card {
  font-style: normal;
  font-size: var(--font-size-12);

  header {
    .item-name {
      cursor: pointer;
    }
  }
  .identified-info header .item-name {
    cursor: default; // GM-only identified info has no interaction
  }

  .card-header {
    padding: 3px;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;
    gap: 0 3px;

    img {
      flex: 0 0 36px;
      border: unset; // Undo Foundry's styling
    }

    .item-name {
      display: flex;
      flex-flow: row wrap;
      align-content: center;
    }

    h3 {
      flex: 1;
      margin: 0;
      border: unset;
      .modesto();
    }
  }

  .card-content {
    margin: 5px 0;

    hr {
      border-top: none;
      border-bottom: var(--pf1-border-thin-light);
    }

    .item-name,
    .action-name {
      .modesto();
      align-self: center;
      margin: 0;
      font-weight: bold;
    }

    .description-metadata {
      flex: 0 1;
      text-align: right;
      color: var(--pf1-olive);
      font-size: var(--font-size-20);
    }

    .item-description *,
    .action-description * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }

    .item-description,
    .action-description {
      p:empty {
        // Undo Foundry's insistence <p> must have minimum size
        min-height: unset;
      }
    }

    .item-description {
      max-height: 600px;
      overflow: hidden auto;
      .scrollbar();
    }

    .identified-info {
      background: var(--pf1-bg-dark-0);
      border-radius: 3px;
      border: var(--pf1-border-thin-light);
      padding: 2px;
      margin-bottom: 0.75em;
    }
  }

  .card-range {
    display: block;
    margin: 0 2px 1px 0;
    padding: 1px 3px;
    font-size: var(--font-size-12);
    line-height: 1.5;
    border: 1px solid #999;
    border-radius: 3px;
    background: var(--pf1-bg-dark-0);
    flex: 0 1 auto;
    text-align: center;

    &:hover {
      border-color: blue;
    }
  }

  .card-buttons {
    margin: 2px 0;

    label {
      text-align: center;
    }

    button {
      font-size: var(--font-size-12);
      height: 20px;
      line-height: 1.3;
      margin: 2px 0;
    }
  }

  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;

    .spell-failure {
      padding: 4px;
      margin-bottom: 4px;
      border: 1px solid #999;
      border-radius: 3px;

      h3 {
        color: #4c6d9f;
        font-size: var(--font-size-14);
        text-align: center;
      }

      .dice-roll,
      .dice-total {
        padding: 0;
      }
    }
  }

  .attack-row,
  .damage-row {
    align-items: baseline;

    a.inline-result {
      border-radius: 2px;
    }

    h1 {
      margin-bottom: 4px;
      font-size: var(--font-size-14);
      font-weight: bold;
      border-bottom: unset;
      box-shadow: inset 0px -2px 0px 0px #782e22;
    }

    h2 {
      font-size: var(--font-size-12);
      margin-bottom: 4px;
      margin-top: 4px;
    }
  }

  .fake-inline-roll {
    padding: 1px 4px;
    color: black;
    i {
      color: #7a7971;
    }
    text-shadow: none;
    font-weight: normal;
    cursor: initial;
  }

  .inline-roll,
  .fake-inline-roll {
    flex: 0;
    height: 100%;

    &.critical-threat {
      background-color: var(--pf1-roll-critical);
    }

    &.success {
      background-color: var(--pf1-roll-success);
    }

    &.failure {
      background-color: var(--pf1-roll-failure);
    }
  }

  .damage-type-visual {
    border: unset;
    background: none;

    &.empty {
      display: flex;
      white-space: nowrap;
    }

    & > span {
      text-align: center;
      word-break: keep-all;
    }

    &:hover:not(.disabled) {
      cursor: initial;
      box-shadow: unset;
    }
  }
}

.message {
  .attack-targets {
    h2 {
      flex: 1 100%;
      margin: 0.2rem 0;
    }

    margin-bottom: 4px;
    display: flex;
    flex-flow: row wrap;
    gap: 3px;
    justify-content: center;

    .target {
      display: flex;
      flex-flow: row nowrap;
      flex: 0 0 content;
      outline: 1px solid black; // Outline doesn't use space unlike border
      padding: 2px 0;
      align-items: center;

      .icon-pf {
        height: 16px;
      }

      .saving-throws {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        min-width: 40px;

        > div {
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          align-items: center;

          &.click {
            &:hover {
              box-shadow: 0 0 10px red;
              cursor: pointer;
            }
          }

          > * {
            flex: 0 0 16px;
          }

          .value {
            &.success {
              color: var(--pf1-success);
              font-weight: bold;
            }
            &.failure {
              color: var(--pf1-failure);
              font-weight: bold;
            }
          }
        }
      }

      img.target-image {
        width: 48px;
        height: 48px;
        object-fit: cover;
        object-position: 50% 0;
        border: none;
        margin: 0;
      }

      .ac {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        min-width: 40px;

        &:hover {
          box-shadow: 0 0 10px red;
          cursor: pointer;
        }

        > div {
          display: flex;
          justify-content: space-evenly;
          text-align: center;
          align-items: center;

          > * {
            flex: 0 0 16px;
          }
        }
      }
    }
  }

  .chat-attack {
    margin-bottom: 2px;

    td.roll {
      white-space: nowrap;
    }

    .attack-flavor {
      // Icon signifying attack roll override
      > i {
        color: red;
      }
    }

    .dice-roll {
      overflow: hidden;

      .dice-flavor {
        color: #4c6d9f;
        font-size: var(--font-size-11);
        text-align: center;
        white-space: nowrap;
      }

      .dice-total {
        font-size: var(--font-size-14);
        line-height: 1.3;
      }
    }

    table {
      td.roll {
        width: 0;
        padding: 3px;
      }

      a.inline-action {
        opacity: 0;
      }
      &:hover a.inline-action {
        opacity: 100%;
      }
    }
  }

  .ammo {
    display: flex;
    flex-flow: row nowrap;

    img {
      width: 24px;
      height: 24px;
      margin-right: 4px;
    }

    span,
    i {
      vertical-align: middle;
      line-height: 24px;
    }

    a {
      opacity: 0;
    }
    &:hover a {
      opacity: 100%;
    }
  }

  .property-group {
    flex: 0 0 24px;

    /* Tags */
    .tag {
      display: inline-block;
      padding: 1px 3px;
      font-size: var(--font-size-11);
      line-height: 1.2;
      border: 1px solid #999;
      border-radius: 3px;
      background: var(--pf1-bg-dark-0);
      flex: 0 1 auto;
      white-space: initial;
    }

    input[type="text"] {
      height: 24px;
      margin: 2px;
    }

    label {
      flex: 2;
      color: var(--pf1-olive);
      font-weight: bold;
    }
  }

  .extra-text {
    margin-top: 8px;
    flex: 0 0 100%;

    label {
      flex: 2;
      color: var(--pf1-olive);
      font-weight: bold;
    }
  }

  .extra-effect:not(:last-child),
  .extra-misc:not(:last-child) {
    margin-bottom: 5px;
  }

  .extra-effect {
    position: relative;
    margin: 0;
    line-height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
  }

  .extra-misc {
    position: relative;
    margin: 0;
    line-height: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid #999;
    border-radius: 3px;
    box-shadow: 0 0 2px #fff inset;
  }

  .extra-roll-label {
    font-weight: bold;
    font-size: var(--font-size-12);
  }

  div.defense {
    table {
      font-size: var(--font-size-12);
      width: 100%;
      table-layout: fixed;

      td,
      th {
        text-align: center;
      }
    }
  }
}

.chat-message .property-group .tag-list {
  gap: 1px;
}
