/* ----------------------------------------- */
/*  Basic Structure                          */
/* ----------------------------------------- */
.pf1.sheet.actor.character {
  /* ----------------------------------------- */
  /*  Sheet Body                               */
  /* ----------------------------------------- */

  /* ----------------------------------------- */
  /*  Spellbook                                */
  /* ----------------------------------------- */

  .spellbook {
    .item-controls {
      flex: 0 0 68px;
    }
  }
}
