@import "../../variables.less";

.pf1.sheet.actor.trap {
  min-width: 440px;
  min-height: 200px;

  .hd-level {
    flex: unset;
  }

  form {
    .tab.summary {
      overflow: hidden auto;
      .scrollbar();

      :is(input, select) {
        text-align: center;
      }

      .usage select {
        flex: 0 8em;
      }

      .bypass select {
        flex: unset;
      }

      .type label {
        align-self: center;
      }

      .effect {
        display: contents;
      }

      .effect-details {
        gap: 1px 3px;

        .reset {
          flex: 3;
          gap: 1px 3px;

          .flexrow {
            gap: 1px 3px;
          }
        }
      }

      .full-width {
        width: 100%;
        gap: 1px 3px;
      }
    }

    .sheet-header {
      img.profile {
        flex: 0 0 100px;
        max-width: 100px;
        min-height: 100px;
        max-height: 100px;
      }

      .header-top {
        max-height: 40px;

        .charname {
          padding: 0;
          margin: 0;

          input[type="text"] {
            padding: 0;
            margin: 0;
            font-size: var(--font-size-24);
          }
        }

        .charlevel {
          flex: 0 0 128px;
        }
      }

      .attribute.health {
        border-right: 0;
      }
    }

    .item-groups-list {
      overflow: hidden auto;
    }

    .item-detail.item-type {
      flex: 0 0 100px;
    }

    .tab.summary .effect,
    .tab.actor-notes {
      display: flex;
      width: 100%;
      flex-flow: column;

      .editor {
        --menu-background: rgba(0, 0, 0, 0.1);
        --color-control-bg: #d9d8c8;
      }
    }

    .tab.summary .effect {
      gap: 0px;
      max-height: 120px;

      .editor {
        border: 1px solid;
        border-top: none;
        border-bottom-left-radius: 0.3em;
        border-bottom-right-radius: 0.3em;
        min-height: 120px;
      }
    }
  }
}
