.pf1-v2.application.experience-distributor {
  min-width: 360px;
  min-height: 580px;

  .form-body {
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    flex: 1;

    .selectors {
      overflow-y: auto;
      flex: 1;

      .actor-selector {
        display: grid;
        flex-flow: row wrap;
        grid-template-columns: repeat(auto-fit, 96px);
        grid-gap: 0.4rem;

        .actor {
          grid-template-rows: 96px 36px 16px;
          border: var(--pf1-v2-border-width) solid transparent;
          position: relative;

          cursor: pointer;
          width: 96px;
          padding: 0.25rem;
          align-items: center;

          display: flex;
          flex-direction: column;
          gap: 0.25rem;

          input {
            position: absolute;
            top: 0.25rem;
            right: 0.25rem;
          }

          img.portrait {
            border: unset;
            height: 72px;
            width: 72px;
            opacity: 0.5;
          }

          &.selected {
            border-color: var(--pf1-v2-border-primary);

            img.portrait {
              opacity: 1;
            }
          }

          span {
            overflow: hidden;
            text-align: center;
            text-overflow: ellipsis;

            &.xp {
              font-size: var(--font-size-10);
              color: var(--pf1-v2-text-muted);
            }
          }
        }
      }
    }

    .footer {
      flex: 0;
      display: flex;
      flex-flow: column;
      gap: 0.25rem;
    }
  }
}
