<section data-tooltip-class="pf1">
  <div class="form-group">
    <label>{{localize "PF1.Default"}}</label>
    <div class="form-fields">
      <select name="default" data-dtype="Boolean">
        {{selectOptions @root.levels selected=default localize=true}}
      </select>
    </div>
  </div>

  <hr>

  {{#each users}}
  <div class="form-group">
    <label>{{user.name}}</label>
    <div class="form-fields">
      <select name="users.{{user.id}}">
        {{selectOptions @root.levels selected=level blank="PF1.Default" localize=true}}
      </select>
    </div>
  </div>
  {{/each}}

  <hr>
</section>
